.github/**
.vscode/**
.vscode-test/**
.gitignore
.yarnrc

src/**
**/*.ts
docs/**
vsc-extension-quickstart.md

out/test/**

**/package-lock.json
**/tsconfig.json
**/tslint.json
**/*.map
**/*.tsbuildinfo
